.nav1{
	width: 100%;
	height: .82rem;
}
.nav1 a{
	line-height: .82rem;
	font-size: 10px;
	margin-left: .24rem;
	color: #000;
}
.nav1 span{
	line-height: .82rem;
	font-size: 10px;
}
.main{
	margin: 0 0.24rem;
	font-size: 10px;
	/*margin-bottom: .27rem;*/
}
.m{
	padding-bottom: .03rem;
	background: #fff;
}
.m:nth-of-type(4){
	margin-bottom: 0.1rem;
}
.main .main1 .news{
	/*padding: 0 0.18rem 0 0.4rem;*/
}
.main .main1 .news .iconbox{
	width: .19rem;
	padding-top: 0.1rem;
	margin-left: 0.13rem;
}
.main .main1 .news .xushu{
	width: 6.5rem;
	margin-left: .1rem;
	padding-right: .16rem;
}
.main .main1 .news span{
	width: .19rem;
	height: .19rem;
	background: url(../img/yuan.png) no-repeat center center/cover;
	display: block;
}
.main .main1 .news p{
	line-height: 17px;
	max-width: 6.5rem;
	float: left;
	
}
.main .main1 .news p
{
	text-overflow:ellipsis;
	overflow:hidden;
	display:-webkit-box;
	-webkit-line-clamp:4;
	-webkit-box-orient: vertical;
}
.hr_46{
	height: 0.46rem;
}
.hr_30{
	height: 0.3rem;
}
.main .m .titlebox{
	padding:0.3rem 0.18rem 0.14rem 0.16rem;
}
.main .m .title{
	/*width: 6.42rem;*/
	/*border-bottom: 1px dashed #A7A7A7;*/
	padding-bottom: 0.17rem;
	margin-left:0.2rem;
}
.main .m .titlebox span{
	color: #01B5FF;
	font-size: 10px;
	float: left;
	font-weight: bold;
}
.main .m .title a{
	font-size: 10px;
	color:#000;
	/*margin-left: .19rem;*/
}
.main .main1 .quan{
	color: #FF9F2A;
	display: block;margin: 0 auto;
	width: 1.18rem;
	padding-top: .1rem;
	padding-bottom: .17rem;
	/*height: */
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.main .main1 .hx3{
	width:6.42rem ;height: 0;
	border-bottom: 1px dashed #C7C7C7;
	margin: 0 auto;
}
.f2{
	text-align: center;font-size: 10px;
}
.f2 .a1{
	height: 2.25rem;
	width: 100%;
	/*background: green;*/
	display: block;
}
.f2 p:nth-child(2){
	padding-bottom: 0.14rem;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.f2 p:nth-child(3){
	padding-bottom: 0.24rem;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.hr_64{
	height: .64rem;
}

.hx1{
	border-bottom: 1px dashed #A7A7A7;
	margin: 0.3rem 0;
	width: 6.4rem;
	height: 0;
}
