body,ul,li,span,p,h1,h2,h3,figcaption{margin: 0;padding:0;list-style: none;}
a{text-decoration: none;}
input{border: none;background: none;}
img{border:0;}
.hr_30{height: 30px;}
.hr_20{height: 20px;}
.hr_43{height: 43px;background: #f4f4f4;text-align: center;color: #666;line-height: 46px;font-size: 15px;}
.hr_12{height: 12px;background: #f4f4f4;}
.hr_6{height: 6px;}
.hr_24{height: 24px;}
.hr_90{height: 90px;}
.hr_50{height: 50px;background: #f4f4f4;text-align: center;color: #666;line-height: 50px;font-size: 15px;}
.fl{float:left;}
.fr{float: right;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}

body{
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	border: 1px solid #E3E3E4;
}
*{
	box-sizing:border-box;
}

.swiper-container {
    width: 100%;
    /*height: 100%;*/
    margin-bottom: 25px;
    
}
.swiper-slide {
    text-align: center;
    /*font-size: 18px;*/
    /*background: #fff;*/
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;height: auto;
}
.swiper-slide img{
	height: 177px;width: 100%;
}

/*头部*/
header{
	width: 100%;height: 50px;
	background: #F7F7F7;
    padding: 7px;
    border-bottom: 1px solid #DDD	DDD;
}
/*header .searchbox{
	padding: 8px;
	width: 100%;height:20px;
	border-radius:3px;
}*/
header input{
	width: 100%;height: 100%;
	border: 1px solid #E8E8E8;
	text-indent: 11px;
	border-radius: 5px;
	background: #fff;
	font-size: 14px;
}
/*导航部分*/
nav{
	overflow: hidden;
	border-bottom:1px solid #EAEAEA;
}
nav li{
	float: left;
}
nav a{
	padding: 0 16px;
	overflow: hidden;
	display: block;
}
nav img{
	width: 60px;height: 60px;
}
nav span{
	line-height: 50px;height: 50px;
	width: 100%;
	text-align: center;
	display: block;
	color: #666;
	/*font-size: 16px;*/
}

/*hot*/
.hot{
	overflow: hidden;
	width: 100%;
	height:46px;
	text-align: center;
}
.hot .logo{
	/*width: 76px;*/
	margin-left: 18px;
	display: inline-block;
	margin-top: 16px;
}
.hot .logo img{
	border-right: 1px solid #E1E1E1;
	padding-right: 6px;
	width: 76px;
	display: inline-block;
	height: 19px;
}
.hot .right-gd{
  width: 74%;
  height: 100%;
  overflow: hidden;
  float: right;
}
.hot .right-gd span{
  color: #f00;
  margin-right: 10px;
  margin-left: 10px;
  line-height: 18px;
  font-size: 12px;
}
.hot .right-gd em{
  list-style: none;
  color: #666;
  font-size: 12px;
}

i,b,em{
	font-style: normal;
}
.info{
	width: 75%;
	font-size: 12px;
	width: auto;
	overflow: hidden;
}
.info span{
	color: #FF6666;
	margin-right: 6px;
}
.info i{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
/*掌上抢*/
section{
	overflow: hidden;
}
.qiang .up{
	width: 100%;height: 46px;
	border-bottom: 1px solid #EAEAEA;
}
.qiang .up b{
	color:#FF5555;
	line-height:46px;
	/*height: 46px;*/
	margin-left:20px;
	float: left;
}
.qiang .up i{
	margin-left: 15px;
	float: left;
	line-height:46px;
}
.qiang .up a{
	color: #222;
	font-size: 14px;
	float: right;
	margin-right: 10px;
	line-height: 46px;
	height: 46px;
}
.qiang .up .num{
	width: 20px;height: 14px;
	border: 1px solid #aaa;
	/*float: left;*/
	line-height:46px;
	display: inline-block;
	margin-top: 15px;
	margin-right: 3px;
}
/*.qiang .up .num:nth-child(1){
	margin-left: 10px;
}*/
.qiang .down{
	border-bottom: 1px solid #EAEAEA;
	overflow: hidden;
}
.qiang img{
	width: 114px;
	margin-left: 8px;
	display: block;
	margin-bottom: 5px;
}
.qiang p{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.qiang .showbox{
	width: 33.3333%;
	padding: 12px 0;
}
.show{
	overflow: hidden;
	border-right: 1px solid #F1F1F1;
}
.qiang .show:nth-child(3){
	border-right: none;
}
.qiang{font-size: 12px;}
.qiang .show p{
	margin: 0 6px;
}
.qiang .show span{
	color: #FF6767;float: left;
	line-height: 38px;
	height: 38px;
	margin-left: 33px;
}
.qiang .show del{
	color: #AAAAAA;float: left;
	line-height: 38px;
	height: 38px;
}
/*明星单品*/
.star  .box{
	width: 49.99%;overflow: hidden;
	border-bottom: 1px solid #F1F1F1;
}
.star  .box:nth-child(2n){
	border-right: 1px solid #F1F1F1;
}
.star  .box img{
	width: 164px;height: 164px;
	margin-left: 16px;
	margin-bottom: 3px;
}
.star  .box .title img{
	width: 20px;height: 20px;
	/*display: inline-block;*/
	line-height: 30px;
	margin-top: 5px;
	float: left;
	margin-left: 6px;
}
.star  .box .title{
	border-radius: 14px;
	margin:18px 50px 10px 50px;
	border:1px solid #E1E1E1;
	text-align: center;
	overflow: hidden;
	width:90px;
	height:30px;

}
.star  .box .title span{
	height: 30px; 
	line-height: 30px;
	font-size: 12px;
	margin-left: 8px;
	float: left;
}
.star  .box p,.star .box em{
	text-align: center;
	font-size: 12px;
	display: block;
}
.star  .box em{
	color: #FF5555;
	line-height: 38px;
	height: 38px;
}
.common .box p:nth-child(2){
	line-height: 20px;
}
.common .box p:nth-child(3){
	color: #999;
	line-height: 30px;
}
.common .toptitle{
	width: 100%;height: 177px;
}
.common .toptitle img{
	width: 100%;
	height: 100%;
}
.common .box p{
	margin-left: 8px;
}
.common .box p,.common .box em,.common .box span,.common .box del{
	/*text-align: center;*/
	font-size: 12px;
	display: block;
}
.common .box em{
	color: #FF5555;
	line-height: 28px;
	height: 28px;
	margin-left: 10px;
	float: left;
}
.common .box img{
	width: 164px;height: 164px;
	/*margin-left: 16px;
	margin-bottom: 3px;*/
	margin: 0 auto;
}
.common  .box{
	width: 49.99%;overflow: hidden;
	border-bottom: 1px solid #F1F1F1;
}
.common  .box:nth-child(2n){
	border-right: 1px solid #F1F1F1;
}
.common .box del{
	float: left;
	line-height: 28px;
	height: 28px;
	margin-left: 10px;
	color: #ACACBF;
}
.common .box span{
	float: right;
	line-height: 20px;
	height: 20px;
	margin-right: 10px;
	background: #FF6666;
	color: #fff;
	padding: 0 5px;
	margin-top: 4px;
	margin-bottom: 4px;
}
/*footer*/
footer li{
	float: left;
	width: 33.33%;
	border-right: 1px solid #D6D6D6;
	margin-bottom: 15px;
	text-align: center;
}
footer ul{
	padding-top:15px; 
}
footer li span{
	width: 40px;height: 40px;
	line-height: 40px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #CFCFCF;
	margin-bottom: 7px;
	font-size: 12px;
	color: #666;
}
footer li p{
	font-size: 13px;
	color: #666;
}
footer .rexian{
	text-align: center;
	color: #999;
	font-size: 12px;
	margin-bottom: 12px;
}
footer .banquan{
	text-align: center;
	color: #999;
	font-size: 12px;
}
